* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 1em;
    margin-right: 1em;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 1em 0;
    text-align: center;
}

.content { 
    padding: 3em;
}

.menu {
    text-align: center;
    margin: 1em;    
}