
.bar {
    width: 40px;
    height: 20px;
    background:red;
    margin: .5em 0;
    transform-origin: top left;

    animation: grow 3s;

    transition-duration: 500ms;

    animation-name: grow;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-fill-mode: forwards
}

 @keyframes grow {
  
from {
    transform: scale(0, 1);
    }
        
to {
    transform: scale(10, 1) 
    }
}